<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>idle.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,12}</string>
				<key>spriteSourceSize</key>
				<string>{10,12}</string>
				<key>textureRect</key>
				<string>{{2,2},{10,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>a&amp;b.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,12}</string>
				<key>spriteSourceSize</key>
				<string>{10,12}</string>
				<key>textureRect</key>
				<string>{{16,2},{10,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>it&apos;s.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,12}</string>
				<key>spriteSourceSize</key>
				<string>{10,12}</string>
				<key>textureRect</key>
				<string>{{30,2},{10,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>_up_.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,12}</string>
				<key>spriteSourceSize</key>
				<string>{10,12}</string>
				<key>textureRect</key>
				<string>{{2,18},{10,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dot.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{10,12}</string>
				<key>spriteSourceSize</key>
				<string>{10,12}</string>
				<key>textureRect</key>
				<string>{{30,18},{10,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>cocos2d.png</string>
			<key>size</key>
			<string>{42,32}</string>
			<key>textureFileName</key>
			<string>cocos2d.png</string>
		</dict>
	</dict>
</plist>
